/* NAV BAR */

  #profile-icon {
    width: 50px;
    float: right;
    clear: right;
  }
 .navbar i{
   padding-right:10px;
 }
  #my-games {
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  
  /* GAME PAGE */
  .my-games h3 {
    text-align: left;
  }
  
  .my-games .hr-game {
    background: blue;
  }
  

  
  /* JUMBOTRON */
  iframe{
    padding-top: 1%;
  }
  
  .jumbotron {
    padding-bottom: 20px;
  }
  
  .jumbo-title {
    margin-top: 5%;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  